.dart_tool/
.idea/
.vscode/
build/
dist/
*.pyc
__pycache__/
.pytest_cache/
.venv/
venv/
mobile_app/android/
mobile_app/ios/
mobile_app/linux/
mobile_app/macos/
mobile_app/windows/
mobile_app/web/
mobile_app/.metadata
mobile_app/pubspec.lock
